body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.01);
  min-width: 500px;
  min-height: 500px;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: grid;
  grid-template-rows: min-content 1fr;
}
body[data-state="paused"]::before {
  content: 'paused!';
  position: absolute;
  top: 50vh;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  color: #d7d7d7;
  padding: 5px 10px;
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: opacity 0.25s ease-in-out;
}
button:active {
  opacity: 0.2;
}
button:disabled {
  opacity: 0.4;
  cursor: default;
}
#tools {
  display: flex;
  align-items: center;
  align-self: end;
  justify-self: end;
}
#tools button svg {
  pointer-events: none;
}
#tools button {
  background-color: #eee;
  width: 48px;
  height: 48px;
  margin-right: 1px;
}
@keyframes record {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
body[data-recording=true][data-state=recording] #record:disabled {
  animation: record 1s infinite;
}
#downloads {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
}
#downloads:empty {
  display: none;
}
#downloads > div {
  position: relative;
  width: fit-content;
  padding: 10px 0  10px 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
#downloads > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#downloads > div button {
  background-color: transparent;
  font-size: 20px;
  border-right: solid 1px #fff;
  margin-left: 5px;
}
#downloads > div:hover button {
  border-right-color: transparent;
}
#downloads > div button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#notify {
  background-color: #ffffed;
  border: solid 1px #e8ec3a;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: pre;
}
#notify:empty {
  display: none;
}

#pause.active svg:first-child {
  display: none;
}
#pause:not(.active) svg:last-child {
  display: none;
}
